.d-none {
  display: none;
}

.d-block {
  display: block;
}

.fr-bg--light {
  background-color: var(--brown-cafe-creme-950);
}

.fr-bg--light2 {
  background-color: var(--pink-tuile-950);
}

.fr-bg--dark {
  background-color: var(--pink-tuile-main-556);
  color: white;
}

.fr-callout.fr-callout-white {
  background-color: white;
  box-shadow: inset .25rem 0 0 0 var(--border-default-pink-tuile);
}

h1 .fr-text--lead {
  font-weight: normal;
}

.select-search-options {
  background-color: var(--grey-1000) !important;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right
}

.align-left {
  text-align: left
}

.map {
  width: 100%;
  min-height: 500px;
}

.highlight {
  color: var(--pink-tuile-main-556);
}

.text-grey {
  color: var(--grey-425);
}

.no-bullet {
  list-style-type: none;
}

.card {
  height: 100%;
}

.leaflet-popup-close-button {
  box-shadow: none !important;
}

.fr-card .fr-card__img img {
  width: auto;
  margin: auto;
}

/* I did not found a better way to have a full width column in instructor list using react-dsfr */
.table-instructor-list > table > tbody > tr > td:nth-child(2) {
  width: 100%;
}
