.d-none {
  display: none;
}

.d-block {
  display: block;
}

.fr-bg--light {
  background-color: var(--brown-cafe-creme-975);
}

.fr-bg--light2 {
  background-color: var(--pink-tuile-950);
}

.fr-bg--tilleul {
  background-color: var(--green-tilleul-verveine-950);
}

.fr-bg--tilleul-light {
  background-color: var(--green-tilleul-verveine-975);
}

.fr-text--dark-blue {
  color: var(--blue-france-113);
}

.fr-text--muted {
  color: var(--grey-425);
}

.fr-callout.fr-callout-white {
  background-color: white;
  box-shadow: inset 0.25rem 0 0 0 var(--border-default-pink-tuile);
}

h1 .fr-text--lead {
  font-weight: normal;
}

.select-search-options {
  background-color: var(--grey-1000) !important;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.map {
  width: 100%;
  min-height: 500px;
}

.highlight {
  color: var(--pink-tuile-main-556);
}

.text-grey {
  color: var(--grey-425);
}

.no-bullet {
  list-style-type: none;
}

.list-blue-france-arrow li::before {
  color: var(--blue-france-113);
  vertical-align: -20%;
}

.list-brown-cafe-creme-main-arrow li::before {
  color: var(--brown-cafe-creme-main-782);
  vertical-align: -20%;
}

.list-green-bourgeonn-arrow li::before {
  color: var(--green-bourgeon-main-640);
  vertical-align: -20%;
}

.card {
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.leaflet-popup-close-button {
  box-shadow: none !important;
}

.fr-card .fr-card__img img {
  width: auto;
  margin: auto;
}

.fr-index-box {
  border: 3px solid var(--green-tilleul-verveine-950);
  padding: 2rem;
  border-radius: 1rem;
}

.fr-tabs__panel:not(.fr-tabs__panel--selected) {
  display: none;
}

span.error {
  color: var(--error-main-525);
}

@media only screen and (max-width: 321px) {
  body {
    word-wrap: break-word;
  }

  .fr-header__operator img {
    max-width: 120px;
    height: auto;
  }
}
