.d-none {
  display: none;
}

.fr-bg--light {
  background-color:var(--brown-cafe-creme-950);
}

.fr-bg--light2 {
  background-color: var(--background-alt-pink-tuile);
}

.select-search-options {
  background-color: var(--grey-1000) !important;
}

.align-right {
  text-align: right
}

.map {
  width: 100%;
  min-height: 500px;
}

.highlight {
  color: var(--pink-tuile-main-556);
}

.no-bullet {
  list-style-type: none;
}

.time-line-list {
  display: flex;
  flex-direction: column;
}

.time-line-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.time-line-list-dot {
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .time-line-list {
    flex-direction: row;
  }

  .time-line-list-border {
    padding: 20px 40px;
    width: 400px;
    height: 120px;
    position: relative;
  }

  .time-line-list-dot {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .time-line-list-dot:after {
    content: '';
    width: 25px;
    height: 25px;
    background-color: var(--brown-cafe-creme-950);
    border-radius: 25px;
    position: absolute;
    bottom: -32px;
    left: 35%;
  }

  li.before .time-line-list-dot:after {
    background-color: var(--pink-tuile-main-556);
  }

  .time-line-list li:not(:first-child) .time-line-list-border:before {
    content: "";
    display: block;
    border-top: 5px solid var(--brown-cafe-creme-950);
    width: calc(50% - 10px + 10px);
    position: absolute;
    top: -3px;
    right: calc(50% + 10px)
  }

  .time-line-list li:not(:last-child) .time-line-list-border:after {
    content: "";
    display: block;
    border-top: 5px solid var(--brown-cafe-creme-950);
    width: calc(50% - 10px + 10px + 1px);
    position: absolute;
    top: -3px;
    left: calc(50% - 10px)
  }

  .time-line-list li.before:not(:first-child) .time-line-list-border:before,
  .time-line-list li.before:not(:last-child) .time-line-list-border:after {
    border-top: 5px solid var(--pink-tuile-main-556);
  }
}
