.d-none {
  display: none;
}

.d-block {
  display: block;
}

.fr-bg--light {
  background-color: var(--brown-cafe-creme-950);
}

.fr-bg--light2 {
  background-color: var(--pink-tuile-950);
}

.fr-bg--dark {
  background-color: var(--pink-tuile-main-556);
  color: white;
}

.select-search-options {
  background-color: var(--grey-1000) !important;
}

.align-right {
  text-align: right
}

.map {
  width: 100%;
  min-height: 500px;
}

.highlight {
  color: var(--pink-tuile-main-556);
}

.fr-centered {
  text-align: center;
}

.no-bullet {
  list-style-type: none;
}

.card {
  height: 100%;
}

.select-search-options {
  z-index: 1100 !important;
}

.leaflet-popup-close-button {
  box-shadow: none !important;
}

.fr-card .fr-card__img img {
  width: auto;
  margin: auto;
}
