.d-none {
  display: none;
}

.text-center {
  text-align: center;
}

.fr-bg--light {
  background-color: var(--background-alt-beige-gris-galet);
}

.fr-bg--light2 {
  background-color: var(--background-alt-pink-tuile);
}

.fr-bg--light input {
  background-color: white;
}

.highlight {
  color: #CE614A;
}

.no-bullet {
  list-style-type: none;
}
